.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  width: 300px;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 42px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  position: absolute;
  left: 12px;
  top: 9px;
  cursor: pointer;
}

.clear {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 8px;
  top: 9px;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.8;
  }
}
